<% @messages.each do |message| %>
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col d-flex">     
        <img class="avatar p-2" src="<%= current_user.gravatar_url %>">

        <div class="message-content flex-grow-1 msg-element">
          <p class="mb-1">
              <%= message["message"] %>
          </p>

          <div class="text-right">
            <small>
             <%= message["created_at"] %>
            </small>
          </div>
         </div>  
      </div>
    </div>
  </div>
<% end %>