<div class="row">
  <div class="col-8 col-md-3" id="chat">
    <rooms :rooms="<%= @rooms.to_json %>" :current_user="<%= current_user.id %>"/>
  </div>
  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the Chatapp!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>
    </div>
  </div>
</div>