.chat-message-container {
  padding: 5px;

  .message-content {
    padding: 5px;
    border: 1px solid rgb(18, 99, 131), 10%;
    border-radius: 5px;
    background: lighten(rgb(18, 99, 131), 10%);
    color: white;
  }
  .otherUser {
    padding: 5px;
    border: 1px solid #c0dce7;
    background: #c0dce7;
    color: #007bff;
  }

  // & + .chat-message-container {
  //   margin-top: 10px;
  // }
}

.hidden {
  display: none;
}
.avatar {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}
.pointer {
  cursor: pointer;
}
.parent {
  position: relative;
  display: inline-block;
}

p#notification {
  position: absolute;
  padding: 2px 8px;
  margin-left: 70px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.chat {
  background: lighten(grey, 50%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  border: 1px solid lighten(grey, 10%);
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}

.room-nav-link {
  border: 1px solid lighten(rgb(121, 204, 236), 40%);
  background: lighten(rgb(53, 116, 141), 45%);

  & + .room-nav-link {
    border-top: 0 none;
  }
}